DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fengshui db
DB_USER=root
DB_PASSWORD=

JWT_SECRET=PakbetTV12345
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=1d
JWT_ALGORITHM=HS256
JWT_PUBLIC_KEY=PakbetTV12345s

# Dragonpay API configuration
DRAGONPAY_MERCHANT_ID=PAKBETTV
DRAGONPAY_SECRET_KEY=ySSVh2nsjRvXjwv
DRAGONPAY_API_URL=https://test.dragonpay.ph/Pay.aspx

# NINJAVAN CREDENTIALS
NINJAVAN_API_URL=https://api-sandbox.ninjavan.co
NINJAVAN_COUNTRY_CODE=SG 
NINJAVAN_CLIENT_ID=6a4de22b690240e1bb091b680d97a4f0
NINJAVAN_CLIENT_SECRET=e2f646a60bb0414daeea4b77852e8c6c

GOOGLE_CLIENT_ID=1023680629905-hchdj1d96dvjme0refodb75jm8fjr600.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
SESSION_SECRET=your_session_secret
NODE_ENV=development
SERVER_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=juatonfelix90@gmail.com
SMTP_PASS=hwdsjaswhpuseafo
